* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  height: 100vh;
  background-image: url("https://r4.wallpaperflare.com/wallpaper/940/736/840/man-dark-bodybuilder-muscle-wallpaper-68860d6840402cc890dcf13ec8c224aa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header nav {
  display: flex;
  flex-direction: right;
  align-items: center;
  align-items: center;
  padding-top: 50px;
}
.header nav ul {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}
.header nav ul a {
  color: white;
  text-decoration: none;
}
.header nav .Links {
  padding-top: 5px;
}
.header nav .Logo {
  font-size: 2rem;
  margin-right: 100px;
  font-weight: 500;
}
.header nav .Logo a {
  text-decoration: none;
  color: white;
}
.header .headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  font-size: 3rem;
  color: white;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}

.hallOfFame {
  background-color: black;
}
.hallOfFame .hallOfFameGridContainer {
  height: 5vh;
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.hallOfFame .hallOfFameGridContainer .gridItem img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 90%;
  width: 100%;
  opacity: 0.3;
}
.hallOfFame .hallOfFameGridContainer .gridItem img:hover {
  opacity: 0.6;
  transition: 0.3s;
}

#quoteSection {
  background-color: #161616;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0;
}
#quoteSection h1 {
  margin: 0 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  opacity: 0.4;
  font-size: 2rem;
}
#quoteSection h1:hover {
  opacity: 1;
  transition: 0.2s;
  font-weight: 800;
}

.workouts {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #161616;
}
.workouts .modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  height: 90vh;
  padding: 3%;
  background-color: #2c2c2c;
  visibility: hidden;
}
.workouts .modalContainer:active {
  visibility: visible;
}
.workouts .modalContainer .modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.workouts .modalContainer .modalHeader h1 {
  text-align: left;
  font-weight: 400;
  color: white;
  opacity: 0.7;
}
.workouts .modalContainer .modalHeader button {
  margin-left: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.workouts .modalContainer .modalBody {
  margin-top: 30px;
}
.workouts .modalContainer .modalBody p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  margin-top: 15px;
  font-size: 18px;
  color: rgb(150, 150, 150);
  font-weight: 100;
  opacity: 0.7;
  line-height: 30px;
  height: 330px;
}
.workouts #overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: black;
  pointer-events: none;
}
.workouts #overlay.active {
  opacity: 0.5;
  transition: 0.2s;
  pointer-events: all;
}
.workouts .buttonCardGridContainer {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}
.workouts .buttonCardGridContainer .buttonCard {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 10vh;
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #2c2c2c;
}
.workouts .buttonCardGridContainer .buttonCard:hover {
  cursor: pointer;
  background-color: #343434;
  transition: 0.2s;
}
.workouts .buttonCardGridContainer .buttonCard:focus {
  background-color: #464646;
}
.workouts .buttonCardGridContainer .buttonCard:first-of-type {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.workouts .buttonCardGridContainer .buttonCard:last-of-type {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.workouts .workoutsGrid {
  padding: 20px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
.workouts .workoutsGrid .card {
  background-color: #2c2c2c;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px;
  padding: 60px 30px;
  /* On mouse-over, add a deeper shadow */
}
.workouts .workoutsGrid .card h1 {
  text-align: left;
  font-weight: 400;
  color: white;
  opacity: 0.7;
}
.workouts .workoutsGrid .card p {
  text-align: left;
  margin-top: 15px;
  font-size: 18px;
  color: rgb(150, 150, 150);
  font-weight: 100;
  opacity: 0.7;
  line-height: 30px;
  height: 330px;
}
.workouts .workoutsGrid .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #343434;
  transition: 0.3s;
}
.workouts .workoutsGrid .card:hover h1 {
  opacity: 1;
}
.workouts .workoutsGrid .card:hover p {
  opacity: 1;
}
.workouts .workoutsGrid .card:hover .playButton {
  opacity: 0.3;
}
.workouts .workoutsGrid .playButton {
  float: right;
  opacity: 0.1;
  margin-top: 5%;
  width: 60px;
}/*# sourceMappingURL=style.css.map */