* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

button {
  background-color: white;
}

.header {
  height: 100vh;
  background-image: url("https://r4.wallpaperflare.com/wallpaper/940/736/840/man-dark-bodybuilder-muscle-wallpaper-68860d6840402cc890dcf13ec8c224aa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header nav {
  display: flex;
  flex-direction: right;
  padding-top: 30px;
  align-items: center;
}
.header nav ul {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}
.header nav ul a {
  color: white;
  text-decoration: none;
}
.header nav .Logo {
  font-size: 2rem;
  margin-right: 100px;
  font-weight: 500;
}
.header nav .Logo a {
  text-decoration: none;
  color: white;
}
.header .headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  font-size: 3rem;
  color: white;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}

.hallOfFame {
  background-color: black;
}
.hallOfFame .hallOfFameGridContainer {
  height: 5vh;
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.hallOfFame .hallOfFameGridContainer .gridItem img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 90%;
  width: 100%;
  opacity: 0.3;
}
.hallOfFame .hallOfFameGridContainer .gridItem img:hover {
  opacity: 0.6;
  transition: 0.3s;
}

#quoteSection {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0;
}
#quoteSection h1 {
  margin: 0 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  opacity: 0.2;
  font-size: 2rem;
}
#quoteSection h1:hover {
  opacity: 1;
  transition: 0.3s;
}

.workouts {
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
}
.workouts .buttonCardGridContainer {
  display: flex;
  flex-direction: row;
}
.workouts .buttonCardGridContainer .buttonCard {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: black;
  height: 10vh;
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  outline: none;
  border: none;
}
.workouts .buttonCardGridContainer .buttonCard:hover {
  cursor: pointer;
  background-color: grey;
  transition: 0.2s;
}
.workouts .buttonCardGridContainer .buttonCard:focus {
  font-weight: 300;
  background-color: #ccc;
}
.workouts .buttonCardGridContainer .buttonCard:first-of-type {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.workouts .buttonCardGridContainer .buttonCard:last-of-type {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.workouts .workoutsGrid {
  padding: 20px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: -moz-fit-content;
  height: fit-content;
}
.workouts .workoutsGrid .card {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #ccc;
  text-align: center;
  height: 60vh;
  margin: 10px;
  /* On mouse-over, add a deeper shadow */
}
.workouts .workoutsGrid .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=style.css.map */